@import url('https://css.gg/facebook.css');
@import url('https://css.gg/instagram.css');

.banner{
    background-color: #000080;
    color: white;
    padding: 1px;
    margin-bottom: 10px;
}
.quote{
    text-align: center;
}

.header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.tabs{
    background-color: #5072A7;
}

body {
    min-height: 100%;
    min-width: 100%;   
  }

#logo {
 height: 200px;
}

.right{
  position: absolute; 
  top: 10px; 
  right: 10px; 
  padding-right: 30px;
  padding-top: 50px;
  color: white;
}

#inside-right{
    background-color:#000080;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

.sub-header{
    background-color:#5072A7;
}

.images{
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


.images img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center center;
}

@media (max-width: 1476px){
   .images{
    grid-template-columns: 1fr;
    justify-items: center;
   }

    .phoneNumber{
      float: left;
    }

} 
#image-header{
    text-align: center;
}

.about{
    background-color: purple;
    font-size: xx-large
}


.footer-col .social-media a{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    margin: 0 10px 10px 0;
    transition: all 0.5s ease;

}


.footer-col .social-media a:hover{
    color: white;
}

.email{
    color: black;
}

footer{
    position: relative;
    height: auto;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1170px;
    margin:auto;
}

@media (max-width: 1476px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
.gg-facebook {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
   }
   
    .gg-facebook::after,
    .gg-facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
   }
   
   .gg-facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
   }
   
   .gg-facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
   } 

   .gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
   }
   
   .gg-instagram::after,
   .gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
   }
   
   .gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
   } 